@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: "Passion One", sans-serif;
    --fonte2: "Sriracha", cursive;
}

html{
    margin: 0 0 0 0;
    min-height: 100vw;
    
}
body{
    margin: 0 0 0 0;
    min-height: 100vh;

}


header{
    text-align: center;
    background-color: black;
    text-align: center;
    justify-content: center;
    
    
}

h1{
    color: white;
    font-family: var(--fonte1);
    font-weight: 500;
    padding-top: 50px;
    font-variant: small-caps;
    padding: auto;
    margin: auto;
    font-size: 7vw;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
#por{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   display: block;
    margin: auto 0px;
    padding: 30px 0px;
    width: 100vw;
    font-size: 3vw;
}

div{
    padding: 10vh 0 10vh 30px;
   
    margin: 0px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 0px 10px black;
    font-size: 4vw;
    display: inline-block;
    display: flex;
    align-items: center;
    
}
#flor{
    padding: 10vh 0 10vh 30px;
    
    position: relative;
 display: inline-block;
    height: 80vh;
    background-image: url("imagens/background001.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 4vw;
    
    display: flex;
    align-items: center;
    
}
p{
    font-family: var(--fonte2);
    font-size: large;
    width: 400px;
    margin: 50px;
    padding: 30px;
    
    
}
p.tf{
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.679);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: large;
    box-shadow: 1px 1px 10px black;
    padding: 30px;
}
p.tc{
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.679);
    color: white;
   
    font-size: large;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 10px black;
    padding: 30px;
}
#carta{
    padding: 10vh 0 10vh 30px;
    
    display: inline-block;
    height: 80vh;
    background-image: url("imagens/background002.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 4vw;
    display: flex;
    align-items: center;
    
}
footer{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: black;
    margin: 0;
    padding: 20px;
    justify-content: center;
    text-align: center;
}
#foot{
    font-family: Arial, Helvetica, sans-serif; 
    width: auto;
    color: white;
    justify-content: center;
    margin: 0;
    padding: 2px;
}